extend layout

block content

  title= title

  h1 New Book
  form
    p
      label(for='title') Title
      input#title(name='title' type='text')
    p
      label(for='author') Author
      input#author(name='author' type='text')
    p
      label(for='genre') Genre
      input#genre(name='genre' type='text')
    p
      label(for='year') Year
      input#year(name='year' type='text')
    p
      a(class="button" href="/books") Create New Book
    p
      a.button(href='/') Cancel
