extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}

//- extends layout

//- block content

//-   h1 Page Not Found
//-   p Sorry! We couldn't find the page you were looking for.
//-   br
//-   p
//-     a.button(href='/') Home